@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}
nav ul{
    display: flex;
    background-color: rgb(152, 152, 152);
    color: rgb(0, 0, 0);
    justify-content: center;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    font-weight: 800;
}
li{
    list-style: none;
    padding :12px;
    cursor: pointer;
    font-size: larger;
}
.container{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.main{
    border: 2px solid black;
    border-radius: 7px;
    height: 400px;
    width: 600px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#button{
    display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #181818;
}

.button:active {
  background-color: #040704;
}
.jokes{
    margin-top: 12px;
    font-size: large;
}
